# Compiled Python files
*.pyc

# Compiled C extensions
*.so

# Cached files
__pycache__/

# Logs
*.log

# Environment and deployment files
.env

venv/

*.env

.DS_Store

.huskyrc.json

out

**/node_modules
*.pyc
*.vsix
**/.vscode/.ropeproject/**
**/testFiles/**/.cache/**
*.noseids

.nyc_output

npm-debug.log

**/.mypy_cache/**

!yarn.lock

coverage/

cucumber-report.json

port.txt

precommit.hook

pythonFiles/lib/**

debug_coverage*/**

languageServer/**
languageServer.*/**

bin/**
obj/**

.pytest_cache

tmp/**

.python-version
.vs/

test-results*.xml
xunit-test-results.xml

build/ci/performance/performance-results.json
!build/

debug*.log
debugpy*.log
pydevd*.log

nodeLanguageServer/**
nodeLanguageServer.*/**

dist/**

# translation files
*.xlf
package.nls.*.json
l10n/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R package: bookdown caching files
/*_files/

# VisualStudioCode
.vscode/*
.vscode-test

**/.vscode-test/**
**/.vscode test/**
**/.vscode-smoke/**
**/.venv*/

# Ignore all local history of files
.history